{% comment %} Customizer Section {% endcomment %}
{% comment %} Customizer Section {% endcomment %}
{% comment %} Customizer Section {% endcomment %}

{% comment %} Don't load custom options by default {% endcomment %}
{% assign hasCustomOption = '' %}

{% comment %} All possible custom options {% endcomment %}
{% assign custom_options = "Handwriting,House Font,Soundwave,Roman Numeral Date,Special Date,Fingerprint" | split: ',' %}

{% comment %} hasCustomOption will include all of the tags added {% endcomment %}
{% for option in custom_options %}
    {% if product.tags contains option %}
        {% assign hasCustomOption = hasCustomOption | append: option | append: ',' %}
    {% endif%}
{% endfor %}

{% if hasCustomOption.size %}
<div class="customizer">

    <!-- .selector-wrapper must be there for clickyboxes to work properly -->
    <div class="selector-wrapper">
    
        <!-- Div must be there for clickyboxes to work properly -->
        <div>
        
            {% comment %} Accordion Label for Customizer {% endcomment %}
            <label class="accordion chevron" for="option-customize">{{ product.options.size | plus: 1 }}. Customize</label>

            {% comment %} Accordion Panel for Customizer {% endcomment %}
            <div class="panel custom-options">

                {% comment %} Options {% endcomment %}
                {% comment %} 
                    Notes:
                    - This select box stays in the code and clickybox adds the optins with with checkmarks
                    - This select box does not add anything to the shopping cart
                {% endcomment %}
                
                <select id="option-customize">

                    {% if product.tags contains "Handwriting" %}
                    <option value="handwriting">Handwriting</option>
                    {% endif %}

                    {% if product.tags contains "House Font" %}
                    <option value="house font">House Font</option>
                    {% endif %}

                    {% if product.tags contains "Soundwave" %}
                    <option value="soundwave">Soundwave</option>
                    {% endif %}
                    {% if product.tags contains "Roman Numeral Date" %}
                    <option value="roman numeral date">Roman Numeral Date</option>
                    {% endif %}

                    {% if product.tags contains "Special Date" %}
                    <option value="special date">Special Date</option>
                    {% endif %}

                    {% if product.tags contains "Fingerprint" %}
                    <option value="fingerprint">Fingerprint</option>
                    {% endif %}

                    <!-- <option value="font-house">House Font</option> -->
                </select>
                
                <!-- Custom Features: Content -->
                <!-- Custom Features: Content -->
                <!-- Custom Features: Content -->

                {% if hasCustomOption contains 'Handwriting' %}
                <!-- HANDWRITING -->
                <div class="custom-feature-ui-single" data-type="upload-lift" data-name="handwriting">
                    {% comment %} Upload-Lift widget element container {% endcomment %}
                    <div id="uploadlift-handwriting"></div>
                    <div class="custom-feature-ui-single__form-buttons">
                        <div class="button cancel">Cancel</div>
                    </div>
                </div>
                {% endif %}

                {% if hasCustomOption contains 'House Font' %}
                <!-- HOUSEFONT -->
                <div class="custom-feature-ui-single" data-type="standard" data-name="house font">
                    <input type="text" id="house-font-input" placeholder="Enter your text" />
                    <div class="custom-feature-ui-single__form-buttons">
                        <div class="button cancel">Cancel</div>
                    </div>
                </div>
                {% endif %}

                {% if hasCustomOption contains 'Soundwave' %}
                <!-- SOUNDWAVE -->
                <div class="custom-feature-ui-single" data-type="upload-lift" data-name="soundwave">
                    
                    <div class="buttons_container">
                        <button type="button" id="soundwave-select-button">Select <!-- Image or --> audio file</button>
                    </div>

                    <!-- Wavesurfer Image (Initial Audio File Visual) -->
                    <div id="waveform">
                        <p class="label hide">Original</p>
                    </div>

                    <!-- Initial Audio File (hidden) -->
                    <input type="file" name="soundwave-audio-file" accept="audio/*" />

                    <!-- UploadLift image upload (hidden) -->
                    <!--
                    <div id="uploadlift-wrapper">
                        <!- This is added dynamically so that when the page refreshes it doesnt load an empty file ->
                    </div>
                    -->

                    <!-- Upload lift Widget -->
                    <div id="uploadlift-soundwave" class="hide">
                        <p class="label">Final</p>
                    </div>

                    <!-- Not used -->
                    <!-- 
                    <div class="result-image loader-parent">
                        <!- Custom Image of the final resutl after Uploaded with Uplift ->
                        <img id="uploadlift-soundwave-loader" class="no-waveform" src="" />
                    </div>
                    -->
                    
                    <div class="custom-feature-ui-single__form-buttons">
                        <div class="button cancel">Cancel</div>
                    </div>

                    <div class="note">Note: If image comes up empty, try a smaller file</div>

                    <img class="loading-ajax" src="{{ 'loading.gif' | asset_url }}" />

                </div>
                {% endif %}

                {% if hasCustomOption contains 'Roman Numeral Date' %}
                <!-- ROMAN NUMERALS -->
                <div class="custom-feature-ui-single" data-type="standard" data-name="roman numeral date">
                    
                    <div class="custom-feature-ui-single__form-inputs">
                        <label>Enter the date</label>
                        <input type="date" name="date" placeholder="MM / DD / YYYY" pattern="\d{2}-\d{2}-\d{4}">
                    </div>

                    <div class="custom-feature-ui-single__result">
                        <input type="text" id="roman_numerals_date_result" disabled />
                    </div>

                    <div class="custom-feature-ui-single__form-buttons">
                        <div class="button cancel">Cancel</div>
                    </div>

                </div>
                {% endif %}

                {% if hasCustomOption contains 'Special Date' %}
                <!-- SPECIAL DATE -->
                <div class="custom-feature-ui-single" data-type="standard" data-name="special date">
                    
                    <div class="custom-feature-ui-single__form-inputs">
                        <input type="text" name="special-date" placeholder="Your special date" max="20" />
                        <br />
                        <div style="margin: 0.5em 0 0;">Up to 20 Characters</div>
                    </div>

                    <div class="custom-feature-ui-single__form-buttons">
                        <div class="button cancel">Cancel</div>
                    </div>

                </div>
                <!-- END Custom Features -->
                {% endif %}

              {% if hasCustomOption contains 'Fingerprint' %}
                <!-- Fingerprint -->
                <div class="custom-feature-ui-single" data-type="upload-lift" data-name="fingerprint">
                    {% comment %} Upload-Lift widget element container {% endcomment %}
                    <div id="uploadlift-handwriting"></div>
                    <div class="custom-feature-ui-single__form-buttons">
                        <div class="button cancel">Cancel</div>
                    </div>
                </div>
                <!-- END Custom Features -->
                {% endif %}
            
            </div>

        </div>

    </div>
</div>

<input id="customization" name="properties[none]" value="" >

{% endif %}

{% comment %} This duplicate code is for front/back {% endcomment %}

{% if hasCustomOption.size %}
{% if product.tags contains "Front-Back" %}  
<div class="customizer">

    <!-- .selector-wrapper must be there for clickyboxes to work properly -->
    <div class="selector-wrapper">
    
        <!-- Div must be there for clickyboxes to work properly -->
        <div>
            {% comment %} Accordion Label for Customizer {% endcomment %}
            <label class="accordion chevron" for="option-customize">{{ product.options.size | plus: 1 }}. Customize</label>
  
            {% comment %} Accordion Panel for Customizer {% endcomment %}
            <div class="panel custom-options">
 

                {% comment %} Options {% endcomment %}
                {% comment %} 
                    Notes:
                    - This select box stays in the code and clickybox adds the optins with with checkmarks
                    - This select box does not add anything to the shopping cart
                {% endcomment %}
                
                <select id="option-customize">

                    {% if product.tags contains "Handwriting" %}
                    <option value="handwriting">Handwriting</option>
                    {% endif %}

                    {% if product.tags contains "House Font" %}
                    <option value="house font">House Font</option>
                    {% endif %}

                    {% if product.tags contains "Soundwave" %}
                    <option value="soundwave">Soundwave</option>
                    {% endif %}
                    {% if product.tags contains "Roman Numeral Date" %}
                    <option value="roman numeral date">Roman Numeral Date</option>
                    {% endif %}

                    {% if product.tags contains "Special Date" %}
                    <option value="special date">Special Date</option>
                    {% endif %}

                    {% if product.tags contains "Fingerprint" %}
                    <option value="fingerprint">Fingerprint</option>
                    {% endif %}

                    <!-- <option value="font-house">House Font</option> -->
                </select>
                
                <!-- Custom Features: Content -->
                <!-- Custom Features: Content -->
                <!-- Custom Features: Content -->

                {% if hasCustomOption contains 'Handwriting' %}
                <!-- HANDWRITING -->
                  
                <div class="custom-feature-ui-single" data-type="upload-lift" data-name="handwriting">
                    {% comment %} Upload-Lift widget element container {% endcomment %}
                    <div id="uploadlift-handwriting"></div>
                    <div class="custom-feature-ui-single__form-buttons">
                        <div class="button cancel">Cancel</div>
                    </div>
                </div>
                {% endif %}

                {% if hasCustomOption contains 'House Font' %}
                <!-- HOUSEFONT -->
                <div class="custom-feature-ui-single" data-type="standard" data-name="house font">
                    <input type="text" id="house-font-input" placeholder="Enter your text" />
                    <div class="custom-feature-ui-single__form-buttons">
                        <div class="button cancel">Cancel</div>
                    </div>
                </div>
                {% endif %}

                {% if hasCustomOption contains 'Soundwave' %}
                <!-- SOUNDWAVE -->
                <div class="custom-feature-ui-single" data-type="upload-lift" data-name="soundwave">
                    
                    <div class="buttons_container">
                        <button type="button" id="soundwave-select-button">Select <!-- Image or --> audio file</button>
                    </div>

                    <!-- Wavesurfer Image (Initial Audio File Visual) -->
                    <div id="waveform">
                        <p class="label hide">Original</p>
                    </div>

                    <!-- Initial Audio File (hidden) -->
                    <input type="file" name="soundwave-audio-file" accept="audio/*" />

                    <!-- UploadLift image upload (hidden) -->
                    <!--
                    <div id="uploadlift-wrapper">
                        <!- This is added dynamically so that when the page refreshes it doesnt load an empty file ->
                    </div>
                    -->

                    <!-- Upload lift Widget -->
                    <div id="uploadlift-soundwave" class="hide">
                        <p class="label">Final</p>
                    </div>

                    <!-- Not used -->
                    <!-- 
                    <div class="result-image loader-parent">
                        <!- Custom Image of the final resutl after Uploaded with Uplift ->
                        <img id="uploadlift-soundwave-loader" class="no-waveform" src="" />
                    </div>
                    -->
                    
                    <div class="custom-feature-ui-single__form-buttons">
                        <div class="button cancel">Cancel</div>
                    </div>

                    <div class="note">Note: If image comes up empty, try a smaller file</div>

                    <img class="loading-ajax" src="{{ 'loading.gif' | asset_url }}" />

                </div>
                {% endif %}

                {% if hasCustomOption contains 'Roman Numeral Date' %}
                <!-- ROMAN NUMERALS -->
                <div class="custom-feature-ui-single" data-type="standard" data-name="roman numeral date">
                    
                    <div class="custom-feature-ui-single__form-inputs">
                        <label>Enter the date</label>
                        <input type="date" name="date" placeholder="MM / DD / YYYY" pattern="\d{2}-\d{2}-\d{4}">
                    </div>

                    <div class="custom-feature-ui-single__result">
                        <input type="text" id="roman_numerals_date_result" disabled />
                    </div>

                    <div class="custom-feature-ui-single__form-buttons">
                        <div class="button cancel">Cancel</div>
                    </div>

                </div>
                {% endif %}

                {% if hasCustomOption contains 'Special Date' %}
                <!-- SPECIAL DATE -->
                <div class="custom-feature-ui-single" data-type="standard" data-name="special date">
                    
                    <div class="custom-feature-ui-single__form-inputs">
                        <input type="text" name="special-date" placeholder="Your special date" max="20" />
                        <br />
                        <div style="margin: 0.5em 0 0;">Up to 20 Characters</div>
                    </div>

                    <div class="custom-feature-ui-single__form-buttons">
                        <div class="button cancel">Cancel</div>
                    </div>

                </div>
                <!-- END Custom Features -->
                {% endif %}

              {% if hasCustomOption contains 'Fingerprint' %}
                <!-- Fingerprint -->
                <div class="custom-feature-ui-single" data-type="upload-lift" data-name="fingerprint">
                    {% comment %} Upload-Lift widget element container {% endcomment %}
                    <div id="uploadlift-handwriting"></div>
                    <div class="custom-feature-ui-single__form-buttons">
                        <div class="button cancel">Cancel</div>
                    </div>
                </div>
                <!-- END Custom Features -->
                {% endif %}
            
            </div>

        </div>

    </div>
</div>

<input id="customization" name="properties[none]" value="" >

{% endif %}
{% endif %}

<style>
  label.accordion.chevron.active a {
    display: none;
  }
</style>